{{include file="_common/header.html"}}
<script type="text/javascript" src="./libs/jquery/core.date.js"></script>

<div class="title_panel">
	旅行社管理 - 新增旅行社
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="續約旅行社" onclick="self.location.href='index.php?ctr=sysagency';">
<input type="button" class="gm_t1_btn_alt_disabled" value="過期旅行社" onclick="self.location.href='index.php?ctr=sysagency&act=expired';">
<input type="button" class="gm_t1_btn" value="新增旅行社" onclick="self.location.href='index.php?ctr=sysagency&act=edit';">

<div class="form_inner">

<form action="index.php?ctr=sysagency&act=save" method="post" class="gm_t1_form">
    <ul>
        <li>
            <span class="v"><input type="text" id="name" name="name" placeholder="旅行社名稱"><em></em></span>
        </li>
        <li>
            <span class="v"><input type="text" id="address" name="address" placeholder="地址"><em></em></span>
        </li>
        <!-- <li>
            <span class="v"><input type="text" id="" name="" placeholder="流水號"><em></em></span>
        </li> -->
        <li>
            <span class="v"><input type="text" id="code" name="code" placeholder="統一編號"><em></em></span>
        </li>
        <li>
            <span class="v"><input type="text" id="contact" name="contact" placeholder="聯絡人"><em></em></span>
        </li>
        <li>
            <span class="v"><input type="text" id="contact_tel" name="contact_tel" placeholder="電話"><em></em></span>
        </li>
        <li>
        	<b>郵箱：</b>
            <span class="v"><input type="text" id="email" name="email" placeholder="郵箱"><em></em></span>
        </li>
        <li>
            <span class="v">
            	<input type="text" id="sign_date_start" name="sign_date_start" placeholder="選擇簽約開始日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li>
            <span class="v">
            	<input type="text" id="sign_date_end" name="sign_date_end" placeholder="選擇簽約结束日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li class="gm_t1_form_btn" style="height:auto;">
            <input type="submit" class="gm_t1_btn" value="提交">
        </li>
    </ul>
    <br /><br /><br /><br /><br /><br />
</form>

</div>

{{include file="_common/footer.html"}}