{{include file="_common/header.html"}}
<script type="text/javascript">
$(document).ready(function(){
	sh_pnlc($(".item_content").first().attr("idx"));
});
function sh_pnlc(id) {
	if ($("#pnlc_"+id).css("display") == "none") {
		$("#pnlc_"+id).show();
		$("#btnc_"+id).html("關閉");
	} else {
		$("#pnlc_"+id).hide();
		$("#btnc_"+id).html("展開");
	}
	return false;
}
</script>

<div class="title_panel">
	旅行社管理 - 續約旅行社
</div>

<input type="button" class="gm_t1_btn" value="續約旅行社" onclick="self.location.href='index.php?ctr=sysagency';">
<input type="button" class="gm_t1_btn_alt_disabled" value="過期旅行社" onclick="self.location.href='index.php?ctr=sysagency&act=expired';">
<input type="button" class="gm_t1_btn_alt_disabled" value="新增旅行社" onclick="self.location.href='index.php?ctr=sysagency&act=edit';">

<div class="search-inner">
<form class="gm_t1_form" id="reg_form" action="" method="GET">
	<input type="hidden" name="ctr" value="sysagency" />
	<input type="hidden" name="act" value="index" />
	<label class="v"><input id="name" type="text" name="name" value="" placeholder="旅行社"></label>
	<label class="v"><input id="username" type="text" name="username" value="" placeholder="帳號"></label>
	<label class="s"><input type="submit" class="gm_t1_btn" value="查詢" /></label>	
</form>
</div>

<div class="list_inner">
	
	<!-- foreach -->
	{{foreach from=$rowset item=item key=key}}
	<div class="item">
		<div class="item_title">
			<a href="#" onclick="return sh_pnlc({{$item->id}});" id="btnc_{{$item->id}}">展開</a>
			{{$item->users->name}}&nbsp;&nbsp;{{$item->code}}&nbsp;&nbsp;簽約日期：{{$item->sign_date_start|date_format:'%Y年%m月%d日'}} 至 {{$item->sign_date_end|date_format:'%Y年%m月%d日'}}
		</div>
		<div class="item_content" id="pnlc_{{$item->id}}" idx="{{$item->id}}">
			<table border="0" width="100%" cellpadding="2" cellspacing="1">
				<tr>
					<td colspan="2">帳號：{{$item->users->username}}</td>
					<td>密碼：******</td>
					<td width="10%"><a href="index.php?ctr=sysagency&act=resetpassword&id={{$item->id}}" onclick="if(!confirm('確定要重置這個帳號嗎？')){return false;}">重置密碼</a></td>
				</tr>
				<tr>
					<td colspan="2">旅行社名稱：{{$item->users->name}}</td>
					<td>地址：{{$item->address}}</td>
					<td><a href="index.php?ctr=sysagency&act=updateprofile&type=address&id={{$item->uid}}" onclick="return window.openWindow(this.href,'600','150',false,0.3)">修改</a></td>
				</tr>
				<tr>
					<td colspan="2" width="50%">流水號：{{$item->uid}}</td>
					<td>統一編號：{{$item->code}}</td>
					<td><a href="index.php?ctr=sysagency&act=updateprofile&type=code&id={{$item->uid}}" onclick="return window.openWindow(this.href,'600','150',false,0.3)">修改</a></td>
				</tr>
				<tr>
					<td>聯絡人：{{$item->contact}}</td>
					<td width="10%"><a href="index.php?ctr=sysagency&act=updateprofile&type=contact&id={{$item->uid}}" onclick="return window.openWindow(this.href,'600','150',false,0.3)">修改</a></td>
					<td>電話：{{$item->contact_tel}}</td>
					<td><a href="index.php?ctr=sysagency&act=updateprofile&type=contact_tel&id={{$item->uid}}" onclick="return window.openWindow(this.href,'600','150',false,0.3)">修改</a></td>
				</tr>
				<tr>
					<td colspan="2">上月訂餐總數：</td>
					<td colspan="2">本月訂餐總數：</td>
				</tr>
				<tr>
					<td colspan="2">上月訂房總數：</td>
					<td colspan="2">本月訂房總數：</td>
				</tr>
			</table>
			<div class="item_footer">
				<a href="index.php?ctr=sysagency&act=renewal&id={{$item->uid}}" onclick="return window.openWindow(this.href,'600','400',false,0.3)">續約</a>
				<a href="index.php?ctr=sysagency&act=suspended&id={{$item->uid}}" onclick="if(!confirm('確定要停權這個帳號嗎？')){return false;}">停權</a>
				簽約日期：{{$item->sign_date_start|date_format:'%Y-%m-%d'}} 至 {{$item->sign_date_end|date_format:'%Y-%m-%d'}}
			</div>
		</div>
	</div>
	{{/foreach}}
	<!-- foreach -->
	
</div>

<div class="pager">{{$pager}}</div>

{{include file="_common/footer.html"}}