{{include file="_common/header.html"}}
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>

<div class="title_panel">
	旅行社管理 - 合約飯店
</div>

<input type="button" class="gm_t1_btn" value="增加" onclick="return window.openWindow('index.php?ctr=sysagency&act=contracthedit&aid={{$aid}}','700','500',false,0.3)">

<div class="list_inner">
	<table border="0" width="100%" cellpadding="2" cellspacing="1">
		<tr>
			<th width="20%">編號</th>
			<th>飯店</th>
			<th width="10%">操作</th>
		</tr>
		<!-- foreach -->
		{{foreach from=$rowset item=item key=key}}
		<tr>
			<td align="center">{{$item->id}}</td>
			<td>{{$item->hotel->name}}</td>
			<td align="center"><a href="index.php?ctr=sysagency&act=contracthremove&id={{$item->id}}&aid={{$aid}}" onclick="if(!confirm('確定解除合約關係嗎？')){return false;}">删除</a></td>
		</tr>
		{{/foreach}}
		<!-- foreach -->
	</table>
</div>
<br />
<div class="pager">{{$pager}}</div>

{{include file="_common/footer.html"}}