{{include file="_common/header.html"}}
<script type="text/javascript" src="./libs/jquery/core.date.js"></script>

<div class="title_panel">
	導遊管理 - 新增導遊
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="續約導遊" onclick="self.location.href='index.php?ctr=sysguide';">
<input type="button" class="gm_t1_btn_alt_disabled" value="過期導遊" onclick="self.location.href='index.php?ctr=sysguide&act=expired';">
<input type="button" class="gm_t1_btn" value="新增導遊" onclick="self.location.href='index.php?ctr=sysguide&act=edit';">

<div class="form_inner">

<form action="index.php?ctr=sysguide&act=save" method="post" class="gm_t1_form">
    <ul>
        <li>
        	<b>導遊名稱：</b>
            <span class="v"><input type="text" id="name" name="name" placeholder="導遊名稱"><em></em></span>
        </li>
        <li>
        	<b>電話：</b>
            <span class="v"><input type="text" id="contact_tel" name="contact_tel" placeholder="電話"><em></em></span>
        </li>
        <!--<li>
            <span class="v"><input type="text" id="" name="" placeholder="流水號"><em></em></span>
        </li>-->
        <li>
        	<b>導遊證號：</b>
            <span class="v"><input type="text" id="code" name="code" placeholder="統一編碼"><em></em></span>
        </li>
        <li>
        	<b>選擇簽約開始日期：</b>
            <span class="v">
            	<input type="text" id="sign_date_start" name="sign_date_start" placeholder="選擇簽約开始日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li>
        	<b>選擇簽約結束日期：</b>
            <span class="v">
            	<input type="text" id="sign_date_end" name="sign_date_end" placeholder="選擇簽約结束日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li class="gm_t1_form_btn" style="height:auto;">
            <input type="submit" class="gm_t1_btn" value="提交">
        </li>
    </ul>
</form>

</div>

{{include file="_common/footer.html"}}