{{include file="_common/header.html"}}
<script type="text/javascript" src="./libs/jquery/core.date.js"></script>
<script type="text/javascript">
	function onsave() {
		if ($("#name").val() == "") {
			alert("提醒您!! 飯店名稱尚未填寫");
			return false;
		} else if ($("#title").val() == "") {
			alert("提醒您!! 發票抬頭尚未填寫");
			return false;
		} else if ($("#region").val() == "") {
			alert("提醒您!! 地區尚未填寫");
			return false;
		} else if ($("#address").val() == "") {
			alert("提醒您!! 地址尚未填寫");
			return false;
		} else if ($("#code").val() == "") {
			alert("提醒您!! 統一編碼尚未填寫");
			return false;
		} else if ($("#contact").val() == "") {
			alert("提醒您!! 聯絡人尚未填寫");
			return false;
		} else if ($("#contact_tel").val() == "") {
			alert("提醒您!! 電話尚未填寫");
			return false;
		} else if ($("#sign_date_start").val() == "") {
			alert("提醒您!! 簽約開始日期未選擇");
			return false;
		} else if ($("#sign_date_end").val() == "") {
			alert("提醒您!! 簽約結束日期未選擇");
			return false;
		}
		
		return true;
	}
</script>

<div class="title_panel">
	飯店管理 - 新增飯店
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="續約飯店" onclick="self.location.href='index.php?ctr=syshotel';">
<input type="button" class="gm_t1_btn_alt_disabled" value="過期飯店" onclick="self.location.href='index.php?ctr=syshotel&act=expired';">
<input type="button" class="gm_t1_btn" value="新增飯店" onclick="self.location.href='index.php?ctr=syshotel&act=edit';">

<div class="form_inner">

<form action="index.php?ctr=syshotel&act=save" method="post" class="gm_t1_form" onsubmit="return onsave();">
    <ul>
        <li>
        	<b>飯店名稱：</b>
            <span class="v"><input type="text" id="name" name="name" placeholder="飯店名稱"><em></em></span>
        </li>
        <li>
        	<b>發票抬頭：</b>
            <span class="v"><input type="text" id="title" name="title" placeholder="發票抬頭"><em></em></span>
        </li>
        <li>
        		<b>地區：</b>
            <span class="v">
            		<input type="text" id="region" name="region" placeholder="地區"><em></em>
            		<!--<select name="region" id="region">
            			<option value="台北市">台北市</option>
            			<option value="北區">北區</option>
            			<option value="中區">中區</option>
            			<option value="南區">南區</option>
            			<option value="其他區">其他區</option>
            		</select>-->
            </span>
        </li>
        <li>
        	<b>地址：</b>
            <span class="v"><input type="text" id="address" name="address" placeholder="地址"><em></em></span>
        </li>
        <!-- <li>
            <span class="v"><input type="text" id="" name="" placeholder="流水號"><em></em></span>
        </li> -->
        <li>
        	<b>統一編碼：</b>
            <span class="v"><input type="text" id="code" name="code" placeholder="統一編碼"><em></em></span>
        </li>
        <li>
        	<b>聯絡人：</b>
            <span class="v"><input type="text" id="contact" name="contact" placeholder="聯絡人"><em></em></span>
        </li>
        <li>
        	<b>電話：</b>
            <span class="v"><input type="text" id="contact_tel" name="contact_tel" placeholder="電話"><em></em></span>
        </li>
        <li>
        	<b>選擇簽約開始日期：</b>
            <span class="v">
            	<input type="text" id="sign_date_start" name="sign_date_start" placeholder="選擇簽約開始日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li>
        	<b>選擇簽約結束日期：</b>
            <span class="v">
            	<input type="text" id="sign_date_end" name="sign_date_end" placeholder="選擇簽約结束日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
            </span>
        </li>
        <li class="gm_t1_form_btn" style="height:auto;">
            <input type="submit" class="gm_t1_btn" value="提交">
        </li>
    </ul>
</form>

</div>

{{include file="_common/footer.html"}}