{{include file="_common/header.html"}}
<script type="text/javascript">
function sh_pnlc(id) {
	if ($("#pnlc_"+id).css("display") == "none") {
		$("#pnlc_"+id).show();
		$("#btnc_"+id).html("關閉");
	} else {
		$("#pnlc_"+id).hide();
		$("#btnc_"+id).html("展開");
	}
	return false;
}
</script>

<div class="title_panel">
	飯店管理 - 過期飯店
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="續約飯店" onclick="self.location.href='index.php?ctr=syshotel';">
<input type="button" class="gm_t1_btn" value="過期飯店" onclick="self.location.href='index.php?ctr=syshotel&act=expired';">
<input type="button" class="gm_t1_btn_alt_disabled" value="新增飯店" onclick="self.location.href='index.php?ctr=syshotel&act=edit';">

<div class="search-inner">
<form class="gm_t1_form" id="reg_form" action="" method="GET">
	<input type="hidden" name="ctr" value="sysagency" />
	<input type="hidden" name="act" value="expired" />
	<label class="v"><input id="name" type="text" name="name" value="" placeholder="飯店"></label>
	<label class="v"><input id="username" type="text" name="username" value="" placeholder="帳號"></label>
	<label class="s"><input type="submit" class="gm_t1_btn" value="查詢" /></label>	
</form>
</div>

<div class="list_inner">
	
	<!-- foreach -->
	{{foreach from=$rowset item=item key=key}}
	<div class="item">
		<div class="item_title">
			<a href="#" onclick="return sh_pnlc({{$item->id}});" id="btnc_{{$item->id}}">關閉</a>
			{{$item->name}} {{$item->code}} 簽約日期：{{$item->sign_date_start|date_format:'%Y-%m-%d'}} 至 {{$item->sign_date_end|date_format:'%Y-%m-%d'}}
		</div>
		<div class="item_content" id="pnlc_{{$item->id}}">
			<table border="0" width="100%" cellpadding="2" cellspacing="1">
				<tr>
					<td colspan="2">帳號：{{$item->username}}</td>
					<td>密碼：******</td>
					<td width="10%"><a href="">重置密碼</a></td>
				</tr>
				<tr>
					<td colspan="2">飯店名稱：{{$item->name}}</td>
					<td>地址：{{$item->address}}</td>
					<td><a href="">修改</a></td>
				</tr>
				<tr>
					<td colspan="2" width="50%">流水號：{{$item->uid}}</td>
					<td colspan="2" width="50%">統一編碼：{{$item->code}}</td>
				</tr>
				<tr>
					<td>聯絡人：{{$item->contact}}</td>
					<td width="10%"><a href="#">修改</a></td>
					<td>電話：{{$item->contact_tel}}</td>
					<td><a href="#">修改</a></td>
				</tr>
				<tr>
					<td colspan="2">上月訂房總數：</td>
					<td colspan="2">本月訂房總數：</td>
				</tr>
			</table>
			<div class="item_footer">
				<a href="">續約</a>
				<a href="">停權</a>
				簽約日期：{{$item->sign_date_start|date_format:'%Y-%m-%d'}} 至 {{$item->sign_date_end|date_format:'%Y-%m-%d'}}
			</div>
		</div>
	</div>
	{{/foreach}}
	<!-- foreach -->
	
</div>

{{include file="_common/footer.html"}}