{{include file="_common/header.html"}}

<div class="title_panel">
	报表查询 - 旅行社
</div>

<input type="button" class="gm_t1_btn" value="旅行社" onclick="self.location.href='index.php?ctr=sysreport&act=agency';">
<input type="button" class="gm_t1_btn_alt_disabled" value="餐厅" onclick="self.location.href='index.php?ctr=sysreport&act=restaurant';">
<input type="button" class="gm_t1_btn_alt_disabled" value="饭店" onclick="self.location.href='index.php?ctr=sysreport&act=hotel';">
<input type="button" class="gm_t1_btn_alt_disabled" value="导游" onclick="self.location.href='index.php?ctr=sysreport&act=guide';">

{{include file="_common/footer.html"}}