{{include file="_common/header.html"}}

<div class="title_panel">
	報表查詢 - 餐廳
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="旅行社" onclick="self.location.href='index.php?ctr=sysreport&act=agency';">
<input type="button" class="gm_t1_btn" value="餐廳" onclick="self.location.href='index.php?ctr=sysreport&act=restaurant';">
<input type="button" class="gm_t1_btn_alt_disabled" value="飯店" onclick="self.location.href='index.php?ctr=sysreport&act=hotel';">
<input type="button" class="gm_t1_btn_alt_disabled" value="導遊" onclick="self.location.href='index.php?ctr=sysreport&act=guide';">

{{include file="_common/footer.html"}}