{{include file="_common/header.html"}}
<link rel="stylesheet" type="text/css" href="/libs/jquery/tablesorter/themes/gray/style.css" />
<script type="text/javascript" src="/libs/jquery/tablesorter/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#report").tablesorter({});
});
</script>

<div class="title_panel">
	報表查詢 - 飯店
</div>

<input type="button" class="gm_t1_btn_alt_disabled" value="旅行社" onclick="self.location.href='index.php?ctr=sysreport&act=agency';">
<input type="button" class="gm_t1_btn_alt_disabled" value="餐廳" onclick="self.location.href='index.php?ctr=sysreport&act=restaurant';">
<input type="button" class="gm_t1_btn" value="飯店" onclick="self.location.href='index.php?ctr=sysreport&act=hotel';">
<input type="button" class="gm_t1_btn_alt_disabled" value="導遊" onclick="self.location.href='index.php?ctr=sysreport&act=guide';">

<div class="search-inner">
<form class="gm_t1_form" id="reg_form" action="" method="GET">
	<input type="hidden" name="ctr" value="sysreport" />
	<input type="hidden" name="act" value="hotel" />
	<label class="v"><input id="name" type="text" name="name" value="{{$name}}" placeholder="查詢飯店"></label>
	<label class="v"><input id="start_date" type="text" name="start_date" value="{{$start_date}}" placeholder="報表開始日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)"></label>
	<label class="v"><input id="end_date" type="text" name="end_date" value="{{$end_date}}" placeholder="報表結束日期" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)"></label>
	<label class="s"><input type="submit" class="gm_t1_btn" value="查詢" /></label>	
</form>
</div>

<div class="list_inner">
	
	<!-- foreach -->
	<table border="0" width="100%" cellpadding="2" cellspacing="1" id="report" class="tablesorter">
		<thead>
			<tr>
				<th>序號</th>
				<th width="80">用餐日期</th>
				<th>團號</th>
				<!--<th>名稱</th>-->
				<th>導遊</th>
				<th>餐別</th>
				<th>備註</th>
			</tr>
		</thead>
		{{foreach from=$rowset item=item key=key}}
		<tr>
			<td align="center">{{$item->id}}</td>
			<td align="center">{{$item->date|date_format:'%Y-%m-%d'}}</td>
			<td>{{$item->code}}</td>
			<!--<td>{{$item->name}}</td>-->
			<td align="center">{{$item->guide_name}}</td>
			<td align="center">
				{{if $item->type == '0'}}
				機
				{{elseif $item->type == '1'}}
				景
				{{elseif $item->type == '2'}}
				中
				{{elseif $item->type == '3'}}
				晚
				{{elseif $item->type == '4'}}
				住
				{{/if}}
			</td>
			<td><a href="{{$item->receive}}" target="_blank">「查看」</a></td>
		</tr>
		{{/foreach}}
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6">總計 <span>{{$total->count}}</span> 筆 (<span>{{$total->count}}</span>筆*5=<em>{{$total->summation}}</em>)</td>
		</tr>
	</table>
	<!-- foreach -->
	
</div>

<input type="button" class="gm_t1_btn" value="匯出Excel" onclick="window.open('/index.php?ctr=sysreport&act=explore&report=hotel&name={{$name}}&start_date={{$start_date}}&end_date={{$end_date}}');">
<input type="button" class="gm_t1_btn" value="列印" onclick="window.open('/index.php?ctr=sysreport&act=printer&report=hotel&name={{$name}}&start_date={{$start_date}}&end_date={{$end_date}}');">

<!--<div class="pager">{{$pager}}</div>-->

{{include file="_common/footer.html"}}