<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="#offCanvas" class="mui-icon mui-icon-bars mui-pull-left"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" href="#">今日</a>
					<a class="mui-control-item mui-active" href="#">新进</a>
					<a class="mui-control-item" href="#">报表</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="order-result">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<a href="#">
							<div class="mui-media-body">
								五天一页台北游
								<p class='mui-ellipsis'>这里是旅行团的详细信息</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="#">
							<div class="mui-media-body">
								五天一页台北游
								<p class='mui-ellipsis'>这里是旅行团的详细信息</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="#">
							<div class="mui-media-body">
								五天一页台北游
								<p class='mui-ellipsis'>这里是旅行团的详细信息</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="#">
							<div class="mui-media-body">
								五天一页台北游
								<p class='mui-ellipsis'>这里是旅行团的详细信息</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
