<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		<script type="text/javascript">
			function sh_detail(sender) {
				var id = $(sender).attr("idx");
				if ($("#pnl_detail_"+id).css("display") == 'none') {
					$("#pnl_detail_"+id).show();
				} else {
					$("#pnl_detail_"+id).hide();
				}
			}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="#" class="mui-icon mui-icon-bars mui-pull-left" onclick="history.go(-1);return false;"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_today}}';">今日</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_new_order}}';">新進</a>
					<a class="mui-control-item" onclick="location.href='{{$url_report}}';">報表</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="order-result">
				<ul class="mui-table-view">
					{{foreach from=$rowset item=item key=key}}
					<li class="mui-table-view-cell mui-media">
						<a href="#" idx="{{$item->id}}" onclick="sh_detail(this);return false;">
							<div class="mui-media-body">
								{{$item->created|date_format:"%Y-%m-%d"}} {{$item->aid}}
								<p class='mui-ellipsis'>導遊:{{$item->gid}} {{$item->amount}}人</p>
							</div>
						</a>
						<div class="detail_item" id="pnl_detail_{{$item->id}}">
							<p>日期：{{$item->created|date_format:"%Y-%m-%d"}}</p>
							<p>餐別：{{if $item->schedule->type=='2'}}中餐{{elseif $item->schedule->type=='3'}}午餐{{/if}}</p>
							<p>餐廳名稱：{{$RBAC_USER_NAME}}</p>
							<p>旅行社：{{$item->agency->name}}</p>
							<p>團號：{{$item->group->code}}</p>
							<p>導遊：{{$item->info->guide_name}}</p>
							<p>人數：{{$item->amount}}人</p>
							<p>餐標：{{$item->price_unit}}</p>
							<p>金額：{{math equation="amount*unit" amount=$item->amount unit=$item->price_unit}}</p>
							<button class="mui-btn mui-btn-primary" onclick="location.href='{{$url_approve}}&oid={{$item->id}}';">接受</button>
							<button class="mui-btn mui-btn-primary" onclick="location.href='{{$url_reject}}&oid={{$item->id}}';">拒絕</button>
						</div>
					</li>
					{{/foreach}}
				</ul>
			</div>
		</div>
	</body>
</html>
