<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		<script type="text/javascript">
			$(document).ready(function(){
				$("#status").val("{{$status}}");
			});
			function sh_detail(sender) {
				var id = $(sender).attr("idx");
				if ($("#pnl_detail_"+id).css("display") == 'none') {
					$("#pnl_detail_"+id).show();
				} else {
					$("#pnl_detail_"+id).hide();
				}
			}
			function filter(sender) {
				var status = $(sender).val();
				location.href = 'index.php?ctr=restaurant&act=today&status='+status;
			}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="#" class="mui-icon mui-icon-bars mui-pull-left" onclick="location.href='{{$url_menu}}';"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_today}}';">準備</a>
					<a class="mui-control-item" onclick="location.href='{{$url_new_order}}';">新進</a>
					<a class="mui-control-item" onclick="location.href='{{$url_report}}';">報表</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="order-result">
				<div class="title_status">
					<label>選擇狀態：</label>
					<select id="status" onchange="filter(this);">
						<option value="">全部</option>
						<option value="1">已訂餐</option>
						<option value="3">已結帳</option>
						<option value="4">已取消</option>
					</select>
				</div>
				<ul class="mui-table-view">
					{{foreach from=$rowset item=item key=key}}
					<li class="mui-table-view-cell mui-media">
						<a href="#" onclick="return false;" class="detail_item_status">
							{{if $item->status == '0'}}
							-
							{{elseif $item->status == '1'}}
							已訂餐
							{{elseif $item->status == '2'}}
							用餐中
							{{elseif $item->status == '3'}}
							已結帳
							{{elseif $item->status == '4'}}
							已取消
							{{/if}}
						</a>
						<a href="#" idx="{{$item->id}}" class="detail_item_swith" onclick="sh_detail(this);return false;">
							<div class="mui-media-body">
								{{$item->eattime|date_format:"%Y-%m-%d %H:%M"}} {{$item->aid}}
								<p class='mui-ellipsis'>導遊:{{$item->info->guide_name}} {{$item->amount}}人</p>
							</div>
						</a>
						<div class="detail_item" id="pnl_detail_{{$item->id}}">
							<p>日期：{{$item->created|date_format:"%Y-%m-%d"}}</p>
							<p>餐別：{{if $item->schedule->type=='2'}}中餐{{elseif $item->schedule->type=='3'}}晚餐{{/if}}</p>
							<p>餐廳名稱：{{$RBAC_USER_NAME}}</p>
							<p>旅行社：{{$item->agency->name}}</p>
							<p>團號：{{$item->group->code}}</p>
							<p>導遊：{{$item->info->guide_name}}</p>
							<p>人數：{{$item->amount}}人</p>
							<p>餐標：{{$item->price_unit}}</p>
							<p>金額：{{math equation="amount*unit" amount=$item->amount unit=$item->price_unit}}</p>
						</div>
					</li>
					{{/foreach}}
				</ul>
			</div>
		</div>
	</body>
</html>
