<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="/theme/style/global.css">
<link rel="stylesheet" href="/theme/style/main.css">
<link rel="stylesheet" href="/libs/mui/css/mui.min.css">
<script type="text/javascript" src="/libs/mui/js/mui.min.js"></script>
<script type="text/javascript" src="/libs/jquery/jquery-1.7.2.min.js"></script>

<script type="text/javascript">
function hideAddressBar_ios(){
	if(document.documentElement.scrollHeight <= document.documentElement.clientHeight) {
		bodyTag = document.getElementsByTagName('body')[0];
		bodyTag.style.height = document.documentElement.clientWidth / screen.width * screen.height + 'px';
	}
	setTimeout(function(){
		window.scrollTo(0, 1); 
	}, 100);
};
function hideAddressBar_android(){
	var n = navigator.userAgent;
	if(n.match(/UCBrowser/i)){
		//uc浏览器
		hideAddressBar_ios();
		return false;
	}
	var self = document.getElementsByTagName('body')[0];
	if (self.requestFullscreen) {
		self.requestFullscreen();
	} else if (self.mozRequestFullScreen) {
		self.mozRequestFullScreen();
	} else if (self.webkitRequestFullScreen) {
		self.webkitRequestFullScreen();
	}
};
$(document).ready(function(){
	req_notify();
});
var req_notify = function() {
	$.ajax({
		url: "index.php?ctr=notify&act=check_dialog",
		success: function(html){
			$("body").append(html);
		}
	});
	
	setTimeout(function(){
		req_notify();
	}, 3000);
}
</script>