<div class="manager-nav">
	<div class="system_menu">
		<ul>
			{{if $RBAC_ROLE_NAME == '管理员'}}
			<li class="snav_root_item">
				<a href="#">後台管理</a>
				<ul class="snav_child">
					<!-- <li class="snav_child_item"><a href="/index.php?ctr=sysusers">管理员管理</a></li> -->
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency">旅行社管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysrestaurant">餐廳管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=syshotel">飯店管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysguide">導遊管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysleader">領隊管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysunion&act=profile">全聯會管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysgroup">旅行團查詢</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysreport">報表查詢</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysaccident">意外通報</a></li>
				</ul>
			</li>
			{{elseif $RBAC_ROLE_NAME == '旅行社'}}
			<li class="snav_root_item">
				<a href="#">後台管理</a>
				<ul class="snav_child">
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=info">旅行社基本資料</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=groupedit">開新團（IN）</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=groupedit_out">開新團（OUT）</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=groupprogress">行程進度</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=accident">意外通報（IN）</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=accident_out">意外通報（OUT）</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=contractr">合約餐廳</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=contracth">合約飯店</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=report">報表查詢</a></li>
				</ul>
			</li>
			{{elseif $RBAC_ROLE_NAME == '全聯會'}}
			<li class="snav_root_item">
				<a href="#">後台管理</a>
				<ul class="snav_child">
					<li class="snav_child_item"><a href="/index.php?ctr=sysgroup">旅行團查詢</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=accident">意外通報（IN）</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=accident_out">意外通報（OUT）</a></li>
				</ul>
			</li>
			{{/if}}
		</ul>
	</div>
</div>