<div class="manager-nav">
	<div class="system_menu">
		<ul>
			{{if $RBAC_ROLE_NAME == '管理员'}}
			<li class="snav_root_item">
				<a href="#">后台管理</a>
				<ul class="snav_child">
					<li class="snav_child_item"><a href="/index.php?ctr=sysusers">管理员管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency">旅行社管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysrestaurant">餐厅管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=syshotel">饭店管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysguide">导游管理</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysgroup">旅游团查询</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysreport">报表查询</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysaccident">意外通报</a></li>
				</ul>
			</li>
			{{elseif $RBAC_ROLE_NAME == '旅行社'}}
			<li class="snav_root_item">
				<a href="#">后台管理</a>
				<ul class="snav_child">
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=info">旅行社基本资料</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=groupedit">开新团</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=groupprogress">行程进度</a></li>
					<li class="snav_child_item"><a href="/index.php?ctr=sysagency&act=accident">意外通报</a></li>
				</ul>
			</li>
			{{/if}}
		</ul>
	</div>
</div>