<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>訂房資訊</title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-hotel">
				<div class="info-flow"></div>
			</div>
		</div>
		<script type="text/javascript">
		var data = eval('({{$schedule}})');
		$.each(data,function(day,schedule){
			var html_day = '<a class="flow-item-title" href="#" onclick="return sh_day('+day+');"><em>D'+day+'</em>'+schedule[0]['tab']+'</a><div class="flow-item-list" id="pnl_day_'+day+'">';
	 					 
			$.each(schedule,function(route,item){
				if (item['type']=='4') {
					html_day += '<a class="flow-item-stitle" href="#" onclick="return sh_schedule('+day+','+route+');"><span>'+item['time']+'</span><em class="stitle-status-'+item['rstatus']+'">'+item['type_label']+'</em>';
					html_day += item['location']+'</a><div class="flow-item-sdetail hotel-ctrls" id="pnl_schedule_'+day+'_'+route+'">';
					html_day += show_ctrl(day,route,item)+'</div>';
				}
			});
				
			html_day += '</div>';
			
			$(".info-flow").append(html_day);
		});
		$(".info-flow").append("<br/><br/><br/>");
		function sh_day(day) {
			if ($("#pnl_day_"+day).css("display") == "none") {
				$("#pnl_day_"+day).show();
				//TODO -
			} else {
				$("#pnl_day_"+day).hide();
				//TODO +
			}
			return false;
		}
		function sh_schedule(day,route) {
			if ($("#pnl_schedule_"+day+"_"+route).css("display") == "none") {
				$("#pnl_schedule_"+day+"_"+route).show();
				//TODO -
			} else {
				$("#pnl_schedule_"+day+"_"+route).hide();
				//TODO +
			}
			return false;
		}
		function show_ctrl(day,route,item) {
			var html = '';
			if (item['rstatus'] == '0') {
				html += '<a href="#" class="e">CHKOUT</a><a href="{{$url_hotel_payment}}&day='+day+'&route='+route+'">退房<br/>付款</a><a href="#">入住<br/>完成</a><a href="#" class="e">CHKIN</a><a href="#">重新<br/>訂房</a>';
			} else if (item['rstatus'] == '1') {
				html += '<a href="#" class="e">CHKOUT</a><a href="{{$url_hotel_payment}}&day='+day+'&route='+route+'">退房<br/>付款</a><a href="#">入住<br/>完成</a>';
			} else if (item['rstatus'] == '2') {
				html += '<a href="#" class="e">CHKOUT</a><a href="{{$url_hotel_payment}}&day='+day+'&route='+route+'">退房<br/>付款</a>';
			} else if (item['rstatus'] == '3') {
				html += '<a href="#" class="e">CHKOUT</a>';
			} else {
				html += '';
			}
			
			html += '<br/><br/>';
			
			return html;
		}
		</script>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item mui-active" href="#">
		    訂房資訊
		  </a>
		  <a class="mui-tab-item" href="#">
		    &nbsp;
		  </a>
		</nav>
	</body>
</html>
