<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>行程資訊</title>
		
		{{include file="_common/minclude.html"}}
		
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-bars mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-journey">
				<div class="info-map"><img src="{{$map}}" width="100%" /></div>
				<div class="info-flow"></div>
			</div>
		</div>
		<script type="text/javascript">
		var data = eval('({{$schedule}})');
		$.each(data,function(day,schedule){
			var html_day = '<a class="flow-item-title" href="#" onclick="return sh_day('+day+');"><em>D'+day+'</em>'+schedule[0]['tab']+'&nbsp;</a><div class="flow-item-list" id="pnl_day_'+day+'">';
			console.log(schedule);
			$.each(schedule,function(route,item){
				html_day += '<a class="flow-item-stitle" href="#" onclick="return sh_schedule('+day+','+route+');"><span>'+item['time']+'</span><em>'+item['type_label']+'</em>';
				html_day += item['location']+'</a><div class="flow-item-sdetail" id="pnl_schedule_'+day+'_'+route+'">';
				html_day += item['detail']+'</div>';
			});
				
			html_day += '</div>';
			
			$(".info-flow").append(html_day);
		});
		$(".info-flow").append("<br/><br/><br/>");
		function sh_day(day) {
			if ($("#pnl_day_"+day).css("display") == "none") {
				$("#pnl_day_"+day).show();
				//TODO -
			} else {
				$("#pnl_day_"+day).hide();
				//TODO +
			}
			return false;
		}
		function sh_schedule(day,route) {
			if ($("#pnl_schedule_"+day+"_"+route).css("display") == "none") {
				$("#pnl_schedule_"+day+"_"+route).show();
				//TODO -
			} else {
				$("#pnl_schedule_"+day+"_"+route).hide();
				//TODO +
			}
			return false;
		}
		</script>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item" onclick="location.href='{{$url_info}}';">
		    團號資訊
		  </a>
		  <a class="mui-tab-item mui-active" onclick="location.href='{{$url_info_journey}}';">
		    行程資訊
		  </a>
		</nav>
	</body>
</html>
