<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>团号资讯</title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
			.info-content {
				padding: 10px;
			}
			.info-content-item {
				padding: 20px;
				background: #FFF;
				border: 1px solid #999;
				margin-bottom: 3px;
			}
			.info-content-tips {
				color: #666;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-bars mui-pull-left" href="index.php?{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="index.php?{{$url_info}}">团号</a>
					<a class="mui-control-item" href="index.php?{{$url_restaurant}}">订餐</a>
					<a class="mui-control-item" href="index.php?{{$url_hotel}}">订房</a>
					<a class="mui-control-item" href="index.php?{{$url_accident}}">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-content">
				<div class="info-content-item">A3984792394</div>
				<div class="info-content-item">台北六日游</div>
				<div class="info-content-tips">相关团行：无</div>
				
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">旅行社资讯</a>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								--1
							</li>
						</ul>
					</li>
					<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">相关联络人资讯</a>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								--2
							</li>
						</ul>
					</li>
					<li class="mui-table-view-cell mui-collapse"><a class="mui-navigate-right" href="#">航班资讯</a>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								--3
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item mui-active" href="index.php?{{$url_info}}">
		    团号资讯
		  </a>
		  <a class="mui-tab-item" href="index.php?{{$url_info_journey}}">
		    行程资讯
		  </a>
		</nav>
	</body>
</html>
