<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.menu-list {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="#offCanvas" class="mui-icon mui-icon-bars mui-pull-left"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<h1 class="mui-title">请选择项目</h1>
		</header>
		<div class="mui-content">
			<div class="menu-list">
				<button class="mui-btn mui-btn-block">团号资讯</button>
				<button class="mui-btn mui-btn-block">订餐系统</button>
				<button class="mui-btn mui-btn-block">订房系统</button>
				<button class="mui-btn mui-btn-block">意外通报</button>
			</div>
		</div>
	</body>
</html>
