<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>餐廳搜索</title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
			.info-search {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-search">
				<h3>搜索餐廳</h3>
				<form class="mui-input-group" action="{{$url_restaurant_result}}" method="post">
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="city" placeholder="城市">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="name" placeholder="名稱">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="scenic" placeholder="附近景點">
					</div>
					
					<div class="signin_submit">
						<input type="hidden" name="gid" value="{{$gid}}" />
						<input type="hidden" name="day" value="{{$day}}" />
						<input type="hidden" name="route" value="{{$route}}" />
						<button class="mui-btn mui-btn-primary mui-btn-block">搜尋</button>
					</div>
				</form>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item" href="{{$url_restaurant}}">
		    訂餐資訊
		  </a>
		  <a class="mui-tab-item mui-active" href="#">
		    餐廳搜尋
		  </a>
		</nav>
	</body>
</html>
