<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>訂餐資訊</title>
		
		{{include file="_common/minclude.html"}}
		<script>
		function getLocalTime(start_date, day) {
			var nS = parseInt(start_date) + ((parseInt(day) - 1) * 86400);
			var now = new Date(nS*1000);
			var year=now.getFullYear();     
			var month=now.getMonth()+1;     
		    var date=now.getDate();
		    
		    return year+"-"+month+"-"+date;
		}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-journey">
				<div class="info-flow"></div>
			</div>
		</div>
		<script type="text/javascript">
		var data = eval('({{$schedule}})');
		$.each(data,function(day,schedule){
			var html_day = '<a class="flow-item-title" href="#" onclick="return sh_day('+day+');"><em>D'+day+'</em>'+getLocalTime({{$info->start_date}}, day)+' '+schedule[0]['tab']+'</a><div class="flow-item-list" id="pnl_day_'+day+'">';
			
			$.each(schedule,function(i,item){
				var route = item['route'];
				if (item['type']=='2' || item['type']=='3') {
					html_day += '<a class="flow-item-stitle" href="#" onclick="return sh_schedule('+day+','+route+');"><span>'+item['time']+'</span><em class="stitle-status-'+item['rstatus']+'">'+item['type_label']+'</em>';
					html_day += item['rstatus_label']+'</a><div class="flow-item-sdetail" id="pnl_schedule_'+day+'_'+route+'">';
					html_day += show_ctrl(day,route,item)+'</div>';
				}
			});
				
			html_day += '</div>';
			
			$(".info-flow").append(html_day);
		});
		$(".info-flow").append("<br/><br/><br/>");
		function sh_day(day) {
			if ($("#pnl_day_"+day).css("display") == "none") {
				$("#pnl_day_"+day).show();
				//TODO -
			} else {
				$("#pnl_day_"+day).hide();
				//TODO +
			}
			return false;
		}
		function sh_schedule(day,route) {
			if ($("#pnl_schedule_"+day+"_"+route).css("display") == "none") {
				$("#pnl_schedule_"+day+"_"+route).show();
				//TODO -
			} else {
				$("#pnl_schedule_"+day+"_"+route).hide();
				//TODO +
			}
			return false;
		}
		function show_ctrl(day,route,item) {
			var html = '';
			if (item['rstatus'] == '0') {
				html += '<a href="{{$url_restaurant_search}}&day='+day+'&route='+route+'&type='+item['type']+'" class="restaurant-order">請訂餐</a>';
			} else if (item['rstatus'] == '1') {
				html += '<a href="{{$url_restaurant_search}}&day='+day+'&route='+route+'&type='+item['type']+'">重新<br/>訂餐</a><a href="tel://'+item['rcontact']+'">電話<br/>確認</a><a href="{{$url_restaurant_confirm}}&sid='+item['id']+'" onclick="if (!confirm(\'您確定已經和餐廳確認訂單了嗎？\')){return false;}">訂餐<br/>確認</a>餐廳名稱：'+item['rname']+'<br/>收據上傳：'+item['receive_status'];
			} else if (item['rstatus'] == '2') {
				html += '<a href="{{$url_restaurant_payment}}&day='+day+'&route='+route+'">選擇<br/>付款</a><a href="{{$url_restaurant_search}}&day='+day+'&route='+route+'">重新<br/>訂餐</a>餐廳名稱：'+item['rname']+'<br/>收據上傳：'+item['receive_status'];
			} else if (item['rstatus'] == '3') {
				html += '餐廳名稱：'+item['rname']+'<br/>收據上傳：'+item['receive_status'];
			} else if (item['rstatus'] == '4') {
				html += '<a href="{{$url_restaurant_search}}&day='+day+'&route='+route+'&type='+item['type']+'" class="restaurant-order">請訂餐</a>';
			}
			
			return html;
		}
		</script>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item mui-active" href="#">
		    訂餐資訊
		  </a>
		</nav>
	</body>
</html>
