<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>餐廳下單成功</title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
			.info-detail {
				padding: 10px;
			}
			.restaurant-detail {
				
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" href="{{$url_info}}">團號</a>
					<a class="mui-control-item mui-active" href="{{$url_restaurant}}">訂餐</a>
					<a class="mui-control-item" href="{{$url_hotel}}">訂房</a>
					<a class="mui-control-item" href="{{$url_accident}}">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-detail">
				<h1>訂餐信息已送出</h1>
				<h1>請等待餐廳回復</h1>
				<div>觸碰螢幕回到訂餐系統主畫面</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item" href="{{$url_restaurant}}">
		    訂餐資訊
		  </a>
		  <a class="mui-tab-item mui-active" href="#">
		    餐廳搜尋
		  </a>
		</nav>
	</body>
</html>
