<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>訂餐明細</title>
		
		{{include file="_common/minclude.html"}}
		
		<script type="text/javascript">
		$(document).ready(function(){
			calc_total();
		});
		function onset_amount(i) {
			var amount = parseInt($("#lbl_amount").html());
			amount += i;
			$("#lbl_amount").html(amount);
			$("#amount").val(amount);
			
			calc_total();
		}
		
		function onset_unit(i) {
			var amount = parseInt($("#lbl_unit").html());
			amount += i;
			$("#lbl_unit").html(amount);
			$("#unit").val(amount);
			
			calc_total();
		}
		
		function calc_total() {
			var total = parseInt($("#lbl_amount").html()) * parseInt($("#lbl_unit").html());
			$("#lbl_total").html(total);
		}
		
		function setPlusItem(val, item, label) {
			var v = $("#plus_item_"+item).val();
			v = parseInt(v)+val;
			if (v <= 0) {
				v = 0;
				$("#plus_note_"+item).removeAttr("checked");
			} else {
				$("#plus_note_"+item).attr("checked","checked");
			}
			$("#plus_item_"+item).val(v);
			$("#plus_note_"+item).val(label+v+'人');
		}
		</script>
		<style type="text/css">
			.restaurant-detail {
				border-bottom: 1px dotted #CCC;
			}
			.restaurant-detail p a {
				display: inline-block;
				height: 40px;
				line-height: 40px;
				width: 40px;
				text-align: center;
				border: 1px solid #CCC;
			}
			.restaurant-detail p em {
				display: inline-block;
				height: 40px;
				line-height: 40px;
				width: 60px;
				text-align: center;
			}
			.info-detail h3 {
				background: #CCC!important;
				padding: 10px!important;
				border-radius: 5px!important;
				text-align: center;
				font-size: 16px;
			}
			.attention {
				padding: 5px;
			}
			.attention textarea {
				border: 1px solid #CCC;
				border-radius: 5px;
			}
			h5.mui-content-padded {
				padding: 10px!important;
			}
			.plus-item label span {
				display: inline-block;
			}
			.plus-item label a {
				display: inline-block;
				width: 25px;
				
				border: 1px solid #CCC;
				text-align: center;
				font-size: 20px;
			}
			.plus-item label input {
				width: 50px;
				text-align: center;
				background: none;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div class="info-detail">
				<h3>訂餐資訊</h3>
				<div class="restaurant-detail">
					<p>日期：{{$date}}</p>
					<p>餐別：{{if $type=='2'}}中餐{{elseif $type=='3'}}晚餐{{/if}}</p>
					<p>餐廳名稱：{{$rname}}</p>
					<p>旅行社：{{$aname}}</p>
					<p>團號：{{$code}}</p>
					<p>導遊：{{$gname}}</p>
					<p>人數：<a href="#" onclick="onset_amount(-1);return false;">－</a><em id="lbl_amount">{{$amount}}</em><a href="#" onclick="onset_amount(1);return false;">＋</a> 人</p>
					<p>餐標：<a href="#" onclick="onset_unit(-50);return false;">－</a><em id="lbl_unit">150</em><a href="#" onclick="onset_unit(50);return false;">＋</a> 元</p>
					<p>金額：<em id="lbl_total">0</em></p>
					<br/>
				</div>
				
				
				<form class="mui-input-group" action="{{$url_restaurant_submit}}" method="post">
					<input type="hidden" name="amount" id="amount" value="{{$amount}}" />
					<input type="hidden" name="unit" id="unit" value="150" />
					<h5 class="mui-content-padded">用餐時間</h5>
					<div class="restaurant-eattime">
						<div class="mui-card">
							{{if $type=='2'}}
							<div class="mui-input-row mui-radio mui-left">
								<label>[11:00]</label>
								<input name="eattime" type="radio" value="11:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[11:30]</label>
								<input name="eattime" type="radio" value="11:30">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[12:00]</label>
								<input name="eattime" type="radio" value="12:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[12:30]</label>
								<input name="eattime" type="radio" value="12:30">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[13:00]</label>
								<input name="eattime" type="radio" value="13:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[13:30]</label>
								<input name="eattime" type="radio" value="13:30">
							</div>
							{{elseif $type=='3'}}
							<div class="mui-input-row mui-radio mui-left">
								<label>[17:00]</label>
								<input name="eattime" type="radio" value="17:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[17:30]</label>
								<input name="eattime" type="radio" value="17:30">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[18:00]</label>
								<input name="eattime" type="radio" value="18:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[18:30]</label>
								<input name="eattime" type="radio" value="18:30">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[19:00]</label>
								<input name="eattime" type="radio" value="19:00">
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>[19:30]</label>
								<input name="eattime" type="radio" value="19:30">
							</div>
							{{/if}}
						</div>
					</div>
					<h5 class="mui-content-padded">注意事項</h5>
					<div class="restaurant-option">
						<div class="attention"><textarea name="attention" placeholder="這裏填寫注意事項"></textarea></div>
						<div class="mui-card">
							<div class="mui-input-row mui-checkbox mui-left">
								<label>重鹹</label>
								<input name="note[]" type="checkbox" value="重鹹">
							</div>
							<div class="mui-input-row mui-checkbox mui-left">
								<label>重油</label>
								<input name="note[]" type="checkbox" value="重油">
							</div>
							<div class="mui-input-row mui-checkbox mui-left">
								<label>重辣</label>
								<input name="note[]" type="checkbox" value="重辣">
							</div>
							<div class="mui-input-row mui-checkbox mui-left">
								<label>勿糖</label>
								<input name="note[]" type="checkbox" value="勿糖">
							</div>
							<div class="mui-input-row mui-checkbox mui-left">
								<label>勿辣</label>
								<input name="note[]" type="checkbox" value="勿辣">
							</div> 
							<div class="mui-input-row mui-checkbox mui-left">
								<label>備公筷洗碗水</label>
								<input name="note[]" type="checkbox" value="備公筷洗碗水">
							</div>
							<div class="mui-input-row mui-checkbox mui-left">
								<label>麵食</label>
								<input name="note[]" type="checkbox" value="麵食">
							</div>
							<div class="mui-input-row mui-checkbox mui-left plus-item">
								<label>
									回民&nbsp;&nbsp;人数：
									<a href="#" onclick="setPlusItem(-1, 0, '回民');return false;">-</a><input id="plus_item_0" value="0" /><a href="#" onclick="setPlusItem(1, 0, '回民');return false;">+</a>
								</label>
								<input name="note[]" type="checkbox" value="回民" id="plus_note_0">
							</div>
							<div class="mui-input-row mui-checkbox mui-left plus-item">
								<label>
									素食&nbsp;&nbsp;人数：
									<a href="#" onclick="setPlusItem(-1, 1, '素食');return false;">-</a><input id="plus_item_1" value="0" /><a href="#" onclick="setPlusItem(1, 1, '素食');return false;">+</a>
								</label>
								<input name="note[]" type="checkbox" value="素食" id="plus_note_1">
							</div>
							<div class="mui-input-row mui-checkbox mui-left plus-item">
								<label>
									穆斯林&nbsp;&nbsp;人数：
									<a href="#" onclick="setPlusItem(-1, 2, '穆斯林');return false;">-</a><input id="plus_item_2" value="0" /><a href="#" onclick="setPlusItem(1, 2, '穆斯林');return false;">+</a>
								</label>
								<input name="note[]" type="checkbox" value="穆斯林" id="plus_note_2">
							</div>
							<div class="mui-input-row mui-checkbox mui-left plus-item">
								<label>
									粥&nbsp;&nbsp;人数：
									<a href="#" onclick="setPlusItem(-1, 3, '粥');return false;">-</a><input id="plus_item_3" value="0" /><a href="#" onclick="setPlusItem(1, 3, '粥');return false;">+</a>
								</label>
								<input name="note[]" type="checkbox" value="粥" id="plus_note_3">
							</div>
						</div>
					</div>
					<input type="hidden" name="eatdate" value="{{$date}}" />
					<input type="hidden" name="gid" value="{{$gid}}" />
					<input type="hidden" name="day" value="{{$day}}" />
					<input type="hidden" name="route" value="{{$route}}" />
					<input type="hidden" name="rid" value="{{$rid}}" />
					<button class="mui-btn mui-btn-primary mui-btn-block btn-signin">確認訂餐</button>
				</form>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item" href="{{$url_restaurant}}">
		    訂餐資訊
		  </a>
		</nav>
	</body>
</html>
