<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>餐廳已確認</title>
		
		{{include file="_common/minclude.html"}}
		
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content result-page">
			<div class="icon_success"></div>
			<div class="result-tips">訂單已確認</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item" href="{{$url_restaurant}}">
		    訂餐資訊
		  </a>
		  <a class="mui-tab-item mui-active" href="#">
		    餐廳搜尋
		  </a>
		</nav>
	</body>
</html>
