<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{$title}}</title>
		
		{{include file="_common/minclude.html"}}
		
		<style type="text/css">
			.signin_submit {
				padding: 20px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="history.go(-1);"></a>
			<h1 class="mui-title">{{$title}}</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" action="{{$url_do_login}}" method="post">
				<div class="mui-input-row">
					<input type="text" class="mui-input-clear" name="username" placeholder="帳號">
				</div>
				<div class="mui-input-row">
					<input type="password" class="mui-input-clear" name="password" placeholder="密碼">
				</div>
				
				<div class="signin_submit">
					<button class="mui-btn mui-btn-primary mui-btn-block btn-signin">登入</button>
					<a class="mui-btn mui-btn-block btn-forgot" href="{{$url_forgot_guide}}">忘記密碼</a>
				</div>
				<div class="agreement">
					按下登入，表示統一<a href="{{$url_services}}">服務條款</a>及<a href="{{$url_policy}}">隱私權政策</a>
				</div>
			</form>
		</div>
	</body>
</html>
