<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>隐私权政策</title>
		
		{{include file="_common/minclude.html"}}
		<style type="text/css">
			h3 {
				font-size: 14px;
				padding: 3px 10px 0 10px;
			}
			p {
				padding: 3px 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">隐私权政策</h1>
		</header>
		<div class="mui-content">
			<h3>1、資訊安全宣告</h3>
			<p>逍遙遊 APP線上專業服務（以下簡稱本服務）為確保網際網路使用者在瀏覽本服務時的隱私權，故訂定此隱私權說明。藉以協助您瞭解黑的文創如何保護您所提供的個人資訊，以及如何蒐集、運用及保護您所提供的各項資訊。請您詳讀下列內容，以促進您安心使用本服務的各項貼心服務。同時，本服務所蒐集到的個人資料，除其他法律另有規定者外，謹遵守「電腦處理個人資料保護法」之規範辦理。</p>
			
			<h3>2、隱私權政策宣示適用範圍</h3>
			<p>以下的隱私權政策，適用於您在本服務活動時，所涉及的個人資料蒐集、運用與保護，但不適用於與本服務功能連結之各政府機關網站與繳費網站。凡經由本服務連結之網站，各網站均有其專屬之隱私權政策，本服務不負任何連帶責任。當您連結這些網站時，關於個人資料的保護，適用各該網站的隱私權政策。</p>

			<h3>3、個人資料之蒐集</h3>
			<p>單純在本服務的瀏覽及檔案下載行為，本服務並不會蒐集任何有關個人的身份資料。利用本服務所提供的各項線上申請服務，需申請人提供個人資料時，本服務會依案件辦理需求請您提供姓名、身分證字號、聯絡電話、e-mail、通訊住址及戶籍地址等個人最新、最真實之資料。網站會記錄使用者上網的IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供本服務管理單位內部作網站流量和網路行為調查的總量分析，以利於提昇本服務的服務品質，且僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。本服務有義務保護各申請人隱私，非經您本人同意不會自行修改或刪除任何個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：本服務絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：配合司法單位合法的調查。配合相關職權機關依職務需要之調查或使用。基於善意相信揭露為法律需要，或為維護和改進網站服務而用於管理。</p>

			<h3>4、個人應盡之義務</h3>
			<p>凡登記成為本服務會員者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整性。若您提供任何錯誤或不實的資料，本服務各相關經營單位有權拒絕您以該帳號使用網站之全部或部份服務。維持密碼及帳號的機密安全，是本服務及各相關經營單位與您共同的責任。您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即以電話通知本服務，以便資訊人員協助處理。確保每次連線完畢，均會登出帳號使用以保護個人帳號不會遭到其他人濫用。若您是與他人共享手機或平版電腦，切記要關閉本服務，以防止他人讀取您的個人資料。所有使用者應遵循國內、外法律規範，並且對於個人所屬帳號、密碼所發生之情事負全部責任。</p>
		</div>
	</body>
</html>
