<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>服务条款</title>
		
		{{include file="_common/minclude.html"}}
		<style type="text/css">
			p {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">服务条款</h1>
		</header>
		<div class="mui-content">
			<p>感謝您使用我們的產品和服務 (以下簡稱「服務」)。「服務」是由 逍遙遊雲端股份有限公司 提供。</p> 

			<p>您同意所登錄或留存之個人資料，本服務可以在必要
合理範圍或有助於本服務服務之提供， 蒐集、處理、
保存、傳遞及使用 您的註冊資料（包括但不限於提供
予政府機關、司法警察及合作廠商）。</p>

			<p>隱私權政策 本服務對於您所登錄或留存之個人資料，
在未獲得您的同意以前，都僅供本服務及本服務相關
業務合作夥伴於其內部、依照原來所說明的使用目的
和範圍加以使用，除非事先說明、或依照相關法律規
定，否則本服務不會將您的個人資料提供給第三人、
或移作其他目的使用。</p>

			<p>本服務會不定時通知會員所在單位的關於本服務之最
新消息（包含相關活動、促銷方案等），會員可選擇
拒絕。</p>

			<p>您同意在下列的情況下，本服務有可能會提供您的個
人資料給相關機關，或主張其權利受侵害並提示司法
機關正式文件之第三人：基於法律之規定、或受司法
機關與其他有權機關基於法定程序之要求；在緊急情
況下為維護其他會員或其他第三人之合法權益；為維
護會員服務系統的正常運作；會員透過本服務與租賃
商品、購買商品、兌換贈品，因而產生的金流、物流
必要資訊；使用者有任何違反政府法令或本使用條款
之情形。 </p>

			<p>會員帳號、密碼及安全同意維護您的帳號及密碼的機
密安全，您會在每次連線完畢後，登出並停止使用。
當您發現您的帳號及密碼遭到盜用或安全問題發生時
，您會立即通知本服務。</p>

			<p>如果本服務無法辨識使用過程是否為本人使用之情形
，本服務對此所致之損害，概不負責。</p> 

			<p>您同意您的帳號、密碼及會員權益均僅供您個人使用
，不得轉借、轉讓他人或與他人共用。</p>
 
			<p>使用者規範與行為您同意不冒用他人名義使用本服務</p> 

			<p>您同意不參與任何非法目的或以任何非法方式使用本
服務，並遵守當地相關法規及網際網路使用規範。 </p>

			<p>您同意不會利用本服務進行誹謗、侮辱、威脅、猥褻
、干擾、不實、違反道德與公共秩序之文字、圖片或
任何形式的檔案於本服務。</p>

			<p>您同意不傳播任何電腦病毒或破壞性程式碼。</p> 

			<p>您同意不使用惡意方式進行修改、刪除、干擾本服務 </p>

			<p>您同意不傳送任何未經許可的商業資料或廣告給本服
務之其他 使用者。 </p>

			<p>您同意遵守智慧財產權，不任意使用未經授權的圖片
或任何形式的檔案於本服務。 </p>

			<p>您同意不逕自使用、修改、重製、散布、發行、進行
還原工程、解編或反向組譯。</p>

			<p>本服務上的程式以及所有內容，包括但不限於著作、
圖片、檔案、網站架構、網頁設計等，均由本服務或
其他權利人依法擁有其智慧財產權，包括但不限於商
標權、專利權、著作權與專有技術等。 </p>

			<p>本服務具備引用之功能，您同意您的作品發佈後，即
同意他人引用您的作品至他人作品內。</p>

			<p>當您刪除該作品後，已被引用的作品將會繼續存在於
本服務。 </p>

			<p>創作者擁有著作之智慧財產權且擔保著作本身無違反
著作權法及其它法規。</p>

			<p>未得創作者許可，您不得有修改、重製、轉貼之相關
情事於營利行為。</p>

			<p>若您有涉及侵權之情事，本服務有權停止您使用本服
務，並取消會員資格。 </p>

			<p>對違反本服務條款行為之處置您同意本服務得依其判
斷並認定您已經違反本服務條款之情事，本服務有權
終止或限制您使用本服務，並取消會員資格。</p>

			<p>您同意本服務可無條件將您的作品下架。 </p>

			<p>免責申明當本服務發生系統中斷，包括但不限於保養
、施工、升級、故障或天災不可抗力之因素，也許會
造成您的資料遺失、使用不便或其他損失，本服務將
不付任何賠償與責任。請您使用本服務時，自行採取
備份措施。</p>

			<p>本服務不保證系統程式不發生錯誤或障礙等情事，使
用者自行採取備份措施。 </p>

			<p>本服務於任何時刻，無論是否有公告或是通知使用者
，都有權修改或終止任何服務項目，以及停止使用者
使用權利。</p>
		</div>
	</body>
</html>
