{{include file="_common/header.html"}}

<script type="text/javascript">
$(document).ready(function() {
	var res = eval('{'+'{{$res}}'+'}');
	
	for (var i=0; i<res.length; i++) {
		$("#res_"+res[i]['aid']).append('<a href="'+res[i]['pic_url']+'" target="_blank" class="res_item"><img src="'+res[i]['pic_url']+'" /></a>');
	}
	
	sh_pnlc($(".item_content").first().attr("idx"));
});

function sh_pnlc(id) {
	if ($("#pnlc_"+id).css("display") == "none") {
		$("#pnlc_"+id).show();
		$("#btnc_"+id).html("關閉");
	} else {
		$("#pnlc_"+id).hide();
		$("#btnc_"+id).html("展開");
	}
	return false;
}
</script>

<div class="title_panel">
	意外通報
</div>

<div class="list_inner">
	
	<!-- foreach -->
	{{foreach from=$rowset item=item key=key}}
	<div class="item">
		<div class="item_title">
			<a href="#" onclick="return sh_pnlc({{$item->id}});" id="btnc_{{$item->id}}">展開</a>
			{{$item->time|date_format:'%Y-%m-%d %H:%M'}}&nbsp;&nbsp;
			{{$item->type}}&nbsp;&nbsp;
			團號：{{$item->group->code}}&nbsp;&nbsp;
			導遊：{{$item->guide->name}}&nbsp;&nbsp;
			緊急事故
		</div>
		<div class="item_content" id="pnlc_{{$item->id}}" idx="{{$item->id}}">
			<table border="0" width="100%" cellpadding="2" cellspacing="1">
				<tr>
					<td width="10%">流水號</td>
					<td>{{$item->id}}</td>
				</tr>
				<tr>
					<td width="10%">發生時間</td>
					<td>{{$item->time|date_format:'%Y-%m-%d %H:%M'}}</td>
				</tr>
				<tr>
					<td width="10%">發生地點</td>
					<td>{{$item->location}}</td>
				</tr>
				<tr>
					<td width="10%">事故狀況</td>
					<td></td>
				</tr>
				<tr>
					<td width="10%">遊覽車</td>
					<td>
						{{if $item->bus->bus_status == '0'}}
						可進行
						{{elseif $item->bus->bus_status == '1'}}
						無法進行
						{{/if}}
					</td>
				</tr>
				<tr>
					<td width="10%">司機狀況</td>
					<td>
						{{if $item->bus->driver_status == '0'}}
						死亡
						{{elseif $item->bus->driver_status == '1'}}
						重傷
						{{elseif $item->bus->driver_status == '2'}}
						輕傷
						{{elseif $item->bus->driver_status == '3'}}
						平安
						{{/if}}
					</td>
				</tr>
				<tr>
					<td width="10%">遊客情況</td>
					<td>
						{{if $item->bus->member_status == '0'}}
						死亡
						{{elseif $item->bus->member_status == '1'}}
						重傷
						{{elseif $item->bus->member_status == '2'}}
						輕傷
						{{elseif $item->bus->member_status == '3'}}
						平安
						{{/if}}
					</td>
				</tr>
				<tr>
					<td width="10%">事故圖片</td>
					<td id="res_{{$item->id}}" class="res_list"></td>
				</tr>
			</table>
		</div>
	</div>
	{{/foreach}}
	<!-- foreach -->
	
</div>

{{include file="_common/footer.html"}}