{{include file="_common/header.html"}}
<script type="text/javascript">
var curday = new Array();
var curroute = new Array();
$(document).ready(function(){
	//初始化
	{{foreach from=$rowset item=item key=key}}
	if (curday[{{$item->day}}] != '1') {
		add_day({{$item->day}});
		
		curday[{{$item->day}}] = '1';
		curroute[{{$item->day}}+'_1'] = '1';
	}
	
	if (curroute[{{$item->day}}+'_'+{{$item->route}}] != '1') {
		add_route({{$item->day}});
		
		curroute[{{$item->day}}+'_'+{{$item->route}}] = '1';
	}
	
	$("#tab_{{$item->day}}").val("{{$item->tab}}");
	$("#type_{{$item->day}}_"+t).val("{{$item->type}}");
	$("#time_{{$item->day}}_"+t).val('{{$item->time|date_format:"%H:%M"}}');
	{{if $item->type == '4'}}
	$("#hname_{{$item->day}}_"+t).val("{{$item->location}}");
	{{elseif $item->type == '2' || $item->type == '3'}}
	$("#rname_{{$item->day}}_"+t).val("{{$item->location}}");
	{{else}}
	$("#location_{{$item->day}}_"+t).val("{{$item->location}}");
	{{/if}}
	$("#hid_{{$item->day}}_"+t).val("{{$item->hid}}");
	$("#money_{{$item->day}}_"+t).val("{{$item->money}}");
	$("#detail_{{$item->day}}_"+t).val("{{$item->detail}}");
	
	change_type($("#type_{{$item->day}}_"+t)[0]);
	
	{{/foreach}}
	
	$(document).keydown(checkkey);
});

var checkkey = function(e) {
	var ev = e || window.event;//获取event对象  
    var obj = ev.target || ev.srcElement;//获取事件源  
    var t = obj.type || obj.getAttribute('type');//获取事件源类型  
    if(ev.keyCode == 8 && t != "password" && t != "text" && t != "textarea"){
    		alert("您還沒保存喔");
        return false;  
    }
}

var t = 0;
var count_days = 0;
var curr_day = 0;
var type_list = '<option value="0">機</option><option value="1">景</option><option value="2">中</option><option value="3">晚</option><option value="4">住</option>';
var region_list = '{{$html_regions}}';
var hotel_list = '{{$html_hotel}}';
var restaurant_list = '{{$html_restaurant}}';

function add_day() {
	count_days++;
	var html_btnday = '<input type="button" class="btn_days gm_t1_btn_alt_disabled" day="'+count_days+'" value="第'+count_days+'天" onclick="change_day('+count_days+');" />\n';
	var html_pnlday = '<div id="day_'+count_days+'" class="day_item"><div id="day_'+count_days+'_items" class="item"></div><div><input type="button" class="gm_t1_btn" value="+增加行程" onclick="add_route('+count_days+');"></div></div><input type="hidden" name="days[]" value="'+count_days+'" />';
	
	$("#list_days").append(html_btnday);
	$("#list_route").append(html_pnlday);
	
	change_day(count_days);
	add_route(count_days);
}
function add_route(day) {
	
	if ($("#day_"+day+"_items").html() == "") {
		var html_tab = "<div style=\"padding:10px\">D"+day+"標籤 <input type=\"text\" name=\"tab_"+day+"\" id=\"tab_"+day+"\" style=\"height:30px;line-height:30px;width:200px\" placeholder=\"標籤\" /><div>";
		$("#day_"+day+"_items").append(html_tab);
	}
	
	t++;
	var html_route = '<div id="route_'+day+'_'+t+'"><div class="item_title"><a href="#" onclick="return close_route('+day+','+t+');" id="btnc_'+day+''+t+'">X</a>行程<em class="route_'+day+'_num"><em></div>'+
	 				 '<table border="0" width="100%" cellpadding="2" cellspacing="1">'+
	 				 '<tr><td class="i_type">'+
	 				 '<select name="type_'+day+'[]" id="type_'+day+'_'+t+'" day="'+day+'" t="'+t+'" onchange="change_type(this);">'+
	 				 type_list+
	 				 '</select></td>'+
	 				 '<td class="i_time"><input type="text" name="time_'+day+'[]" id="time_'+day+'_'+t+'" day="'+day+'" placeholder="時間" /></td>'+
	 				 '<td class="i_other">'+
	 				 '<div id="i_type_'+day+'_location_'+t+'"><input type="text" name="location_'+day+'[]" id="location_'+day+'_'+t+'" day="'+day+'" placeholder="地點" /></div>'+
	 				 '<div id="i_type_'+day+'_restaurant_'+t+'" style="display:none"><select name="rregion_'+day+'[]" id="rregion_'+day+'_'+t+'" day="'+day+'" t="'+t+'" onchange="choose_region(this)">'+region_list+'</select>&nbsp;<select name="rname_'+day+'[]" id="rname_'+day+'_'+t+'" day="'+day+'" class="restaurant_list">'+restaurant_list+'</select></div>'+
	 				 '<div id="i_type_'+day+'_hotel_'+t+'" style="display:none"><select name="hid_'+day+'[]" id="hid_'+day+'_'+t+'" day="'+day+'" t="'+t+'" onchange="choose_hotel(this)" class="hotel_list">'+hotel_list+'</select>&nbsp;<input type="text" name="money_'+day+'[]" id="money_'+day+'_'+t+'" day="'+day+'" placeholder="金额" /><input type="hidden" name="hname_'+day+'[]" id="hname_'+day+'_'+t+'" day="'+day+'" /></div>'+
	 				 '</td></tr><tr>'+
	 				 '<td colspan="3" class="i_detail"><textarea name="detail_'+day+'[]" id="detail_'+day+'_'+t+'"></textarea></td></tr></table></div>';
	$("#day_"+day+"_items").append(html_route);
	
	fix_route_num(day);
}
function choose_region(sender) {
	var day = $(sender).attr("day");
	var t = $(sender).attr("t");
	var region = $(sender).val();
	
	$("#rname_"+day+"_"+t).empty();
	$("#rname_"+day+"_"+t).append(restaurant_list);
	
	if (region != '') {
		$("#rname_"+day+"_"+t+" option[region!='"+region+"']").remove();
	}
}
function close_route(day, t) {
	$("#route_"+day+"_"+t).remove();
	fix_route_num(day);
}
function change_day(day) {
	if (curr_day == day) {
		return;
	}
	$("#day_"+day).show();
	$("#day_"+curr_day).hide();
	curr_day = day;
	
	$(".btn_days").each(function() {
		if ($(this).attr('day') == curr_day) {
			$(this).removeClass("gm_t1_btn_alt_disabled");
			$(this).addClass("gm_t1_btn");
		} else {
			$(this).removeClass("gm_t1_btn");
			$(this).addClass("gm_t1_btn_alt_disabled");
		}
	})
}
function change_type(sender) {
	var o = $(sender);
	if (o.val() == "4") {
		$("#i_type_"+o.attr("day")+"_location_"+o.attr("t")).hide();
		$("#i_type_"+o.attr("day")+"_restaurant_"+o.attr("t")).hide();
		$("#i_type_"+o.attr("day")+"_hotel_"+o.attr("t")).show();
	} else if (o.val() == "2" || o.val() == "3") {
		$("#i_type_"+o.attr("day")+"_location_"+o.attr("t")).hide();
		$("#i_type_"+o.attr("day")+"_restaurant_"+o.attr("t")).show();
		$("#i_type_"+o.attr("day")+"_hotel_"+o.attr("t")).hide();
	} else {
		$("#i_type_"+o.attr("day")+"_location_"+o.attr("t")).show();
		$("#i_type_"+o.attr("day")+"_restaurant_"+o.attr("t")).hide();
		$("#i_type_"+o.attr("day")+"_hotel_"+o.attr("t")).hide();
	}
}
function fix_route_num(day) {
	$(".route_"+day+"_num").each(function(i){
		$(this).html(i+1);
	});
}
function choose_hotel(sender) {
	var s = $(sender);
	$("#hname_"+s.attr("day")+"_"+s.attr("t")).val($("#hid_"+s.attr("day")+"_"+s.attr("t")).find("option:selected").text());
}
</script>

<div class="flowset">
	<a href="index.php?ctr=sysagency&act=groupedit&id={{$id}}">旅行社的基本資料</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=grouproom&id={{$id}}">分房資訊</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=groupschedule&id={{$id}}" class="curr">行程安排</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=groupinfo&id={{$id}}">開團說明會資料</a>
</div>

<form method="post" action="index.php?ctr=sysagency&act=groupschedulesave">
<div class="title_panel">
	行程安排
</div>
<div class="date_select">
	<span id="list_days"></span>
	<input type="button" class="gm_t1_btn" value="+" onclick="add_day();">
</div>

<div class="form_inner" id="list_route">
	
</div>

<hr size="1" />
<div>
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="submit" class="gm_t1_btn" value="提交訊息">
</div>
</form>

{{include file="_common/footer.html"}}