{{include file="_common/header.html"}}

<script type="text/javascript">
	var json_guide = eval('({{$json_guide}})');
	
	$(document).ready(function(){
		onchooseguide($("#guide_id")[0]);
	});
	
	function onchooseguide(sender) {
		var guide_id = $(sender).val();
		$("#guide_name").val(json_guide[guide_id]['name']);
		$("#guide_tel").val(json_guide[guide_id]['contact_tel']);
	}
</script>

<div class="flowset">
	<a href="index.php?ctr=sysagency&act=groupedit&id={{$id}}">旅行社的基本資料</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=grouproom&id={{$id}}">分房資訊</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=groupschedule&id={{$id}}">行程安排</a>
	<em>&gt;</em>
	<a href="index.php?ctr=sysagency&act=groupinfo&id={{$id}}" class="curr">開團說明會資料</a>
</div>

<form method="post" action="index.php?ctr=sysagency&act=groupinfosave">
<div class="title_panel">
	開團說明會資料
</div>
<div class="form_inner">
	<table class="table_form">
		<tr>
			<td class="tf_key">出團名稱</td>
			<td><span class="v"><input type="text" id="" name="" value=""></span></td>
			<td class="tf_key"></td>
			<td></td>
		</tr>
		<tr>
			<td class="tf_key">領隊</td>
			<td><span class="v"><input type="text" id="leader" name="leader" value="{{$row->leader}}"></span></td>
			<td class="tf_key">手機</td>
			<td><span class="v"><input type="text" id="leader_tel" name="leader_tel" value="{{$row->leader_tel}}"></span></td>
		</tr>
		<tr>
			<td class="tf_key">注意事項</td>
			<td></td>
			<td class="tf_key"></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4"><textarea style="width:745px;height:80px;">{{$row->attention}}</textarea></td>
		</tr>
	</table>
</div>

<div class="title_panel">
	导游资料
</div>
<div class="form_inner">
	<table class="table_form">
		<tr>
			<td class="tf_key">導遊帳號</td>
			<td><span class="v"><select id="guide_id" name="guide_id" onchange="onchooseguide(this);">{{$html_guide}}</select></span></td>
			<td class="tf_key"></td>
			<td></td>
		</tr>
		<tr>
			<td class="tf_key">導遊</td>
			<td><span class="v"><input type="text" id="guide_name" name="guide_name" value="{{$row->guide_name}}"></span></td>
			<td class="tf_key">手機</td>
			<td><span class="v"><input type="text" id="guide_tel" name="guide_tel" value="{{$row->guide_tel}}"></span></td>
		</tr>
		<tr>
			<td class="tf_key">團控</td>
			<td><span class="v"><input type="text" id="regulator" name="regulator" value="{{$row->regulator}}"></span></td>
			<td class="tf_key">手機</td>
			<td><span class="v"><input type="text" id="regulator_tel" name="regulator_tel" value="{{$row->regulator_tel}}"></span></td>
		</tr>
	</table>
</div>

<div class="title_panel">
	團員姓名
</div>
<div class="form_inner">
	<table class="table_form">
		<tr>
			<td>
				<textarea style="width:745px;height:80px;">{{$row->member_names}}</textarea>
			</td>
		</tr>
	</table>
</div>

<hr size="1" />
<div>
	<input type="hidden" name="id" value="{{$id}}" />
	<input type="submit" class="gm_t1_btn" value="提交訊息">
</div>
</form>

{{include file="_common/footer.html"}}