body {
	background: #efeff4!important;
}
.mui-content {
	background: #f5f6f7;
}
.mui-bar {
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	background: #a1a1a2!important;
}
.mui-icon-back:before, .mui-icon-left-nav:before {
	color: #FFF!important;
}
.mui-icon-bars, .mui-icon-gear {
	color: #FFF!important;
}
.mui-title {
	color: #FFF!important;
}
.mui-input-group {
	background: #efeff4!important;
	background-image: none!important;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit] {
	background: #c3c1c5!important;
	border: #c3c1c5!important;
}
.mui-segmented-control {
	border: 1px solid #FFF!important;
}
.mui-segmented-control .mui-control-item {
	border-color:#FFF!important;
	color: #FFF!important;
}
.mui-segmented-control .mui-control-item.mui-active {
	background: #028fd7!important;
}
.mui-bar-tab {
	background: rgba(247,247,247,.98)!important;
	border-top: 1px solid #EAEAEA!important;
}
.mui-bar-tab .mui-tab-item {
	display: inline-block!important;
	line-height: 50px!important;
	padding: 0 20px!important;
	background: #dcdddd!important;
	width: auto!important;
	color: #000000!important;
}
.mui-bar-tab .mui-active {
	background: #02a2e9!important;
	color: #FFF!important;
}
.result-page {
	padding: 10px;
	background: #f5f6f7!important;
}
.result-page .icon_success {
	height: 200px;
	width: 200px;
	margin: auto;
	background: url(../images/icon_success.png) center top no-repeat;
	background-size: 200px;
}
.result-page .result-tips {
	text-align: center;
	font-size: 14px;
	padding: 10px;
}
.quick-nav {
	padding: 0 50px;
}
.info-journey {
	
}
.info-hotel {
	
}
.info-detail {
	padding: 10px 10px 50px 10px;
}
.info-map {
	height: 200px;
	background: #007AFF;
	overflow: hidden;
}
.info-map img {
	width: 100%;
}
.info-flow {
	padding: 3px;
	background:url(/theme/images/sbg_line.png) 58px top repeat-y;
	background-size:10px;
}
.info-flow a.flow-item-title {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	margin-top: 5px;
	display: block;
	font-weight: bold;
	font-size: 16px;
}
.info-flow a.flow-item-title em {
	margin-left:40px;
	margin-right: 5px;
	height: 40px;
	width: 40px;
	background: #E8AF28;
	display: block;
	float: left;
	text-align: center;
	color: #FFF;
	border-radius: 20px;
}
.info-flow .flow-item-list a.flow-item-stitle {
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	color: #000;
	font-weight: bold;
}
.info-flow .flow-item-list a.flow-item-stitle span {
	display: inline-block;
	float: left;
	width: 40px;
	text-align: center;
	font-weight: 12px;
	color: #999;
}
.info-flow .flow-item-list a.flow-item-stitle em {
	display: inline-block;
	float: left;
	margin: 5px 10px 5px 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #028FD7;
	color: #FFF;
	border-radius: 15px;
}
.info-flow .flow-item-list a.flow-item-stitle em.stitle-status-0 {
	background: #E62129!important;
}
.info-flow .flow-item-list a.flow-item-stitle em.stitle-status-1 {
	background: #FDD003!important;
}
.info-flow .flow-item-list a.flow-item-stitle em.stitle-status-2 {
	background: #028FD7!important;
}
.info-flow .flow-item-list a.flow-item-stitle em.stitle-status-3 {
	background: #ABCE22!important;
}
.info-flow .flow-item-list .flow-item-sdetail {
	margin-left: 40px;
	padding-left: 45px;
	background: #EAEAEA url(/theme/images/sbg_sline.png) left top no-repeat;
	background-size:25px;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: none;
}
.info-flow .flow-item-list .flow-item-sdetail a {
	float: right;
	width:40px;
	height: 40px;
	line-height: 16px;
	padding:3px;
	background: #CCC;
	text-align: center;
	display: inline-block;
	margin-left:2px
}
.info-flow .flow-item-list .hotel-ctrls a.e {
	width: 45px;
}
.info-flow .flow-item-list .flow-item-sdetail a.restaurant-order {
	float: none;
	display: block;
	width: auto;
	line-height: 30px;
}
.upload_receive, .upload_photo {
	position: relative;
	height: 60px;
}
.upload_receive input, .upload_receive button, .upload_photo input, .upload_photo button {
	position: absolute;
	left:0;
	top:0;
}
.checklist-form {
	padding:10px;
}
.photo-form {
	padding:50px 10px 10px 10px;
}
.confirm-form {
	display: none;
	padding:10px;
}
.confirm-form .confirm_content {
	text-align: center;
}
.upload_receive button, .upload_photo button {
	z-index:9;
}
.upload_receive input, .upload_photo input {
	z-index:8;
}
.menu-list {
	padding: 10px;
}
.detail_item {
	display: none;
}
.detail_item_swith {
	margin-right: 60px!important;
}
.detail_item_status {
	height: 64px;
	line-height: 40px;
	background: #CCC;
	float: right;
	display: block;
	padding: 0 5px;
}
