/*  弹出框相关样式  */
/* 遮蔽层  */
#cover{
	width:100%;
	height:100%;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	display:none;
}
/* 弹出框 */
#examWindow{
	position:absolute;
	z-index:9999;
	left:50%;
	top:50%;
	background-color:#FFF;
	display:none;
}
/*   阴影层  */
.shadow {
	background-color:#000;
	position:absolute;
	left:50%;
	z-index:999;
	top:50%;
	display:none;
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
}
/*  右上角的关闭按钮  */
a#closeButton{
	position:absolute;
	text-indent:-5000px;
	width:30px;
	height:30px;
	cursor:pointer;
	top:-15px;
	right:-15px;
	background:url(../images/btn_close.png) no-repeat;
}
.popup_viewport {
	padding:10px;
}
.viewport {
	background: #f0f0f0 url(../images/noise-bg.gif) repeat -70% 0;
}
.viewport .view-header {
	background-color:#2d2d2d;
	border-bottom: 1px solid #000;
	font-size: 14px;
	height: 29px;
	width: 100%;
}
.viewport .view-header .header-inner {
	/* width:960px; */
	margin:0 auto;
	overflow:hidden;
	padding:0 10px;
}
.viewport .view-header .header-inner .rctl {
	float:right;
	height:29px;
	line-height:29px;
}
.viewport .view-header .header-inner .rctl a {
	color:#CCC;
	display:inline-block;
	height:29px;
	line-height:29px;
}
.viewport .view-header .header-inner .rctl a.btn_setup {
	background:url(../images/icon_setup.png) right 7px no-repeat;
	padding-right:20px;	
}
.viewport .view-header .header-inner .rctl span {
	color:#666;
}
.viewport .view-header .header-inner .logo {
	text-indent: -9999px;
	height:29px;
	width:160px;
	background:url(../images/logo.png) 0 0 no-repeat;
}
.viewport .view-content {
	min-height:500px;
}
.viewport .view-content .menu-inner {
	float:left;
	width:150px;
}
.viewport .view-content .content-inner {
	/* width:960px; */
	padding:10px;
	margin:0 auto 0 150px;
}
.viewport .view-footer {
	border-top: 1px solid #ddd;
	background:#FFF;
	height:50px;
}
.viewport .view-footer .footer-inner {
	padding: 10px 10px 20px 10px;
	/* width:960px; */
	margin:0 auto;
	overflow:hidden;
}
.viewport .view-footer .footer-inner .logo {
	text-indent: -9999px;
	height:29px;
	width:160px;
	background:url(../images/logo.png) 0 0 no-repeat;
}
.viewport .view-footer .footer-inner .info {
	float:right;
	color:#CCC;
	text-align:right;
	line-height:20px;
}

.system_menu {
	height:35px;
}
.system_menu, .system_menu ul.snav_child { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.system_menu ul li.snav_root_item { 
	/* float: left; */
	/* position: relative; */
	width: 150px;
	background-color:#E4E4E4;
	color:#2D486C;
}
.system_menu a:link, .system_menu a:visited {
	display: block;
	text-decoration: none;
	color: #2D486C;
	text-align:center;
	padding:10px;
}
.system_menu ul.snav_child { 
	/* display: none; */
	/* position: absolute; */
	z-index:999;
}
.system_menu ul.snav_child li {
	float: none;
	border: 0 none transparent;
	border-bottom: 1px solid #EAEAEA;
	background-color: #CCC;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.system_menu li:hover ul.snav_child {
	display: block;
	width:150px;
}

/*===========content-inner===========*/
.title_panel {
	background:#CACACA;
	padding:5px 10px;
	height:25px;
	line-height:25px;
	border-radius:3px;
	margin-bottom:5px;
	color:#333;
	font-weight:bold;
}
.search-inner {
	padding: 10px 10px 7px 10px;
	overflow: hidden;
	border: 1px solid #ccc;
	margin: 10px 0 0 0;
	border-radius: 5px;
	background: #FFF;
}
.search-inner .v input {
	width: 200px;
}
.search-inner label {
	float: left;
}
.search-inner .s input {
	margin-top: 0px;
	height: 40px;
	width: 100px;
}
.list_inner, .form_inner {
	margin-top: 10px;
}
.item {
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
.item .item_title {
	background: #2288CC;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
}
.item .item_title a {
	float: right;
	display: block;
	width: 50px;
	height:30px;
	background: #002166;
	text-align: center;
	color: #FFF;
}
.item .item_content table {
	background: #CCC;
}
.item .item_content table tr td {
	background: #FFF;
	height: 25px;
	line-height: 25px;
	padding: 3px;;
}
.item .item_content table tr td a {
	text-align: center;
	display: block;
}
.item .item_content .item_footer {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.item .item_content .item_footer a {
	float: right;
	display: block;
	width: 50px;
	background: #002166;
	text-align: center;
	color: #FFF;
	font-weight: bold;
}
.item .item_content .sub_item_title {
	background: #66cccc;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
}
.item .item_content .sub_item_title a {
	float: right;
	display: block;
	width: 50px;
	height:30px;
	background: #0099cc;
	text-align: center;
	color: #FFF;
}
.item .item_content .sub_item_content .s_status {
	width:110px;
}
.flowset {
	height: 50px;
	overflow: hidden;
	margin-bottom: 5px;
}
.flowset em {
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
}
.flowset a {
	display: block;
	background: #EAEAEA;
	height: 50px;
	line-height: 50px;
	float: left;
	padding: 0 10px;
	margin-right: 5px;
	border-radius: 5px;
}
.flowset a.curr {
	background: #007AFF;
	color: #FFF;
}
.table_form {
	
}
.table_form td {
	padding: 3px;
}
.table_form td.tf_key {
	width: 50px;
	text-align: right;
}
.table_form td input {
	height: 30px;
	line-height: 30px;
	width: 200px;
	padding: 5px;
}
.res_list .res_item {
	float:left;
	margin-right:3px;
}
.res_list .res_item img {
	width:100px;
}
#list_route .day_item {
	display: none;
}
#list_route .day_item table {
	background: #CCC;
}
#list_route .day_item table td {
	background: #FFF;
	padding:3px;
}
#list_route .day_item table td.i_type {
	width:50px;
	text-align: center;
}
#list_route .day_item table td.i_type select {
	padding:5px;
	height:30px;
}
#list_route .day_item table td.i_time {
	width:135px;
	text-align: center;
}
#list_route .day_item table td.i_time input {
	text-align: center;
	padding:5px;
}
#list_route .day_item table td.i_other input {
	width:200px;
	padding:5px;
}
#list_route .day_item table td.i_detail textarea {
	width: 95%;
	height:50px;
	padding:5px;
	border:1px solid #EAEAEA;
}
.gm_t1_form ul li b {
	display: block;
	padding-top: 5px;
}