<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		<script type="text/javascript" src="/libs/jquery/core.imagevisible.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$.imageFileVisible({display: "#image-wrap", file: "#photo", width: 300, height: 300});
		});
		function upload() {
			$("#photo").click();
		}
		function preview(sender) {
			$(".confirm-form").show();
			$(".photo-form").hide();
		}
		function retake() {
			$(".confirm-form").hide();
			$(".photo-form").show();
			$("#image-wrap").html("");
		}
		function submit() {
			$("#form").submit();
		}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<div class="quick-nav">
				<div id="sc-nav" class="mui-segmented-control">
					<a class="mui-control-item" onclick="location.href='{{$url_info}}'">團號</a>
					<a class="mui-control-item" onclick="location.href='{{$url_restaurant}}'">訂餐</a>
					<a class="mui-control-item" onclick="location.href='{{$url_hotel}}'">訂房</a>
					<a class="mui-control-item mui-active" onclick="location.href='{{$url_accident}}'">意外</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" action="{{$url_medicine_photo_submit}}" method="post" id="form">
		
			<div class="photo-form">
				<div class="upload_photo">
					<button class="mui-btn mui-btn-primary mui-btn-block" onclick="upload();return false;">請拍下事故照片</button>
					<input type="file" id="photo" name="photo" class="mui-btn mui-btn-primary mui-btn-block" onchange="preview(this);" />
				</div>
				<br/>
			</div>
			
			<div class="confirm-form">
				<div class="confirm_content">
					<div id="image-wrap"></div>
				</div>
				<div style="text-align: center;">
					<button class="mui-btn mui-btn-primary" onclick="retake();return false;">重拍</button>
					<button class="mui-btn mui-btn-primary" onclick="submit();return false;">上傳雲端</button>
				</div>
				<br/><br/>
			</div>
			
			</form>
		</div>
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item mui-active" href="tel://119">
		    救護車119
		  </a>
		  <a class="mui-tab-item mui-active" href="tel://110">
		    報警110
		  </a>
		  <a class="mui-tab-item mui-active" href="#">
		    聯繫旅行社
		  </a>
		</nav>
	</body>
</html>
