<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
		{{include file="_common/minclude.html"}}
		<script type="text/javascript" src="./libs/jquery/core.date.js"></script>
		<style type="text/css">
			.quick-nav {
				padding: 0 50px;
			}
			.info-hotel {
				padding: 10px;
			}
			.mui-input-row {
				padding: 3px 0!important;
			}
			.mui-input-row select {
				padding-left: 10px!important;
			}
			.mui-input-row label {
				font-size: 16px!important;
				width: auto!important;
			}
			.mui-input-row em {
				display: inline-block;
			  	float: left;
			  	padding: 10px 15px;
			  	font-family: "Helvetica Neue",Helvetica,sans-serif;
			  	line-height: 1.1;
			  	font-size: 16px;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;
			  	max-width: 175px;
			  	overflow: hidden;
			}
			.pnl-reson {
				display: none;
			}
		</style>
		<script type="text/javascript">
			function onreson(sender) {
				var reson = $(sender).val();
				$(".pnl-reson").hide();
				$(".reson-"+reson).show();
			}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="{{$url_menu}}"></a>
			<a class="mui-icon mui-icon-gear mui-pull-right"></a>
			<h1 class="mui-title">意外通報</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" action="{{$url_submit}}" method="post" id="form">
				<div class="mui-input-row">
					<label>報告人：</label><em>{{$guide->user->name}}</em>
				</div>
				<div class="mui-input-row">
					<label>通報日期：</label>
					<input type="text" class="mui-input-clear" name="date" placeholder="發生日期" value="{{$date}}" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
				</div>
				<div class="mui-input-row">
					<label>通報時間：</label>
					<input type="text" class="mui-input-clear" name="time" placeholder="發生時間，時:分" value="{{$time}}">
				</div>
				<div class="mui-input-row">
					<label>觀光團團號：</label><em>{{$group->code}}</em>
					<input type="hidden" name="group_code" value="{{$group->code}}" />
				</div>
				<div class="mui-input-row">
					<label>隨團導遊證號：</label><em>{{$guide->code}}</em>
					<input type="hidden" name="guide_code" value="{{$guide->code}}" />
				</div>
				<div class="mui-input-row">
					<label>隨團導遊姓名：</label><em>{{$guide->user->name}}</em>
					<input type="hidden" name="guide_name" value="{{$guide->user->name}}" />
				</div>
				<div class="mui-input-row">
					<label>隨團導遊手機：</label><em>{{$guide->contact_tel}}</em>
					<input type="hidden" name="guide_tel" value="{{$guide->contact_tel}}" />
				</div>
				<div class="mui-input-row">
					<label>接待旅行社：</label><em style="max-width: 174px;">{{$agency->user->name}}</em>
					<input type="hidden" name="agency_name" value="{{$agency->user->name}}" />
				</div>
				<div class="mui-input-row">
					<label>通報級別：</label>
					<select name="level">
						<option value="">請選擇通報級別</option>
						<option value="1">初報</option>
						<option value="2">續報</option>
						<option value="3">結報</option>
					</select>
				</div>
				<div class="mui-input-row">
					<label>變更日期：</label>
					<input type="text" class="mui-input-clear" name="adate" placeholder="發生變更日期" value="{{$adate}}" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
				</div>
				<div class="mui-input-row">
					<label>變更時間：</label>
					<input type="text" class="mui-input-clear" name="atime" placeholder="發生變更時間，時:分" value="{{$atime}}">
				</div>
				<div class="mui-input-row">
					<label>通報事由：</label>
					<select name="reson" onchange="onreson(this);">
						<option value="1">住宿旅館變更</option>
						<option value="2">導遊人員變更</option>
						<option value="3">旅遊糾紛</option>
						<option value="4">出租車輛及遊覽車駕駛通報</option>
						<option value="5">緊急事故</option>
						<option value="6">治安案件</option>
						<option value="7">疫情通報</option>
						<option value="8">違法、違規、逾期停留、違規脫團、行方不明、從事與許可目的不符活動、違常通報</option>
						<option value="9">分車通報</option>
						<option value="10">其他通報</option>
						<option value="11">購物點變更</option>
					</select>
				</div>
				<div class="pnl-reson reson-2 reson-4 reson-9">
					<div class="mui-input-row">
						<label>車別：</label>
						<select name="car">
							<option value="1">第1車</option>
						</select>
					</div>
				</div>
				<div class="pnl-reson reson-2">
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_tw_guide_name" placeholder="原始本島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_tw_guide_tel" placeholder="原始本島導遊電話" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_guide_code" placeholder="變更後本島導遊證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_guide_name" placeholder="變更後本島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_guide_tel" placeholder="變更後本島導遊電話" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_tw_lguide_name" placeholder="原始離島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_tw_lguide_tel" placeholder="原始離島導遊電話" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lguide_code" placeholder="變更後離島導遊證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lguide_name" placeholder="變更後離島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lguide_tel" placeholder="變更後離島導遊電話" value="">
					</div>
				</div>
				<div class="pnl-reson reson-4">
					<div class="mui-input-row">
						<label>帶團日期：</label>
					</div>
					<div class="mui-input-row">
						<label>開始日期：</label>
						<input type="text" class="mui-input-clear" name="group_start_date" placeholder="帶團開始日期" value="" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
					</div>
					<div class="mui-input-row">
						<label>開始時間：</label>
						<input type="text" class="mui-input-clear" name="group_start_time" placeholder="帶團開始時間，時:分" value="">
					</div>
					<div class="mui-input-row">
						<label>結束日期：</label>
						<input type="text" class="mui-input-clear" name="group_end_date" placeholder="帶團結束日期" value="" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
					</div>
					<div class="mui-input-row">
						<label>結束時間：</label>
						<input type="text" class="mui-input-clear" name="group_end_time" placeholder="帶團結束時間，時:分" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="car_type" placeholder="車種" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="car_code" placeholder="車號" value="">
					</div>
					<div class="mui-input-row">
						<label>□派車單</label>
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="driver_code" placeholder="駕駛登記證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="driver_name" placeholder="駕駛姓名" value="">
					</div>
					<div class="mui-input-row">
						<label>□未連續帶團切結書</label>
					</div>
				</div>
				<div class="pnl-reson reson-9">
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_car" placeholder="原始車輛" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="org_car_type" placeholder="原始車種" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="guide_driver_code" placeholder="遊覽車駕駛登記證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="guide_driver_name" placeholder="遊覽車駕駛姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_cguide_code" placeholder="本島導遊證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_cguide_name" placeholder="本島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_cguide_tel" placeholder="本島導遊電話" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lcguide_code" placeholder="離島導遊證號" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lcguide_name" placeholder="離島導遊姓名" value="">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="tw_lcguide_tel" placeholder="離島導遊電話" value="">
					</div>
				</div>
				<div class="pnl-reson reson-10">
					<div class="mui-input-row">
						<label>□1.提前出境</label>
					</div>
					<div class="mui-input-row">
						<label>日期：</label>
						<input type="text" class="mui-input-clear" name="ahead_ldate" placeholder="日期" value="" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
					</div>
					<div class="mui-input-row">
						<label>時間：</label>
						<input type="text" class="mui-input-clear" name="ahead_ltime" placeholder="時間，時:分" value="">
					</div>
					<div class="mui-input-row">
						<select name="ahead_airport">
							<option value="">機場/港口</option>
							<option value="桃園機場">桃園機場</option>
							<option value="高雄機場">高雄機場</option>
							<option value="基隆港">基隆港</option>
							<option value="臺中港">臺中港</option>
							<option value="高雄港">高雄港</option>
							<option value="花蓮港">花蓮港</option>
							<option value="蘇澳港">蘇澳港</option>
							<option value="澎湖港">澎湖港</option>
							<option value="台南機場">台南機場</option>
							<option value="安平港">安平港</option>
							<option value="松山機場">松山機場</option>
							<option value="桃園二期">桃園二期</option>
							<option value="金門港">金門港</option>
							<option value="馬祖">馬祖</option>
							<option value="花蓮機場">花蓮機場</option>
							<option value="麥寮港">麥寮港</option>
							<option value="馬公機場">馬公機場</option>
							<option value="台中機場">台中機場</option>
							<option value="和平港">和平港</option>
							<option value="金門機場">金門機場</option>
							<option value="南竿機場">南竿機場</option>
							<option value="北竿機場">北竿機場</option>
							<option value="嘉義機場">嘉義機場</option>
							<option value="臺北港">臺北港</option>
							<option value="東港">東港</option>
							<option value="台東機場">台東機場</option>
							<option value="北竿白沙港">北竿白沙港</option>
							<option value="布袋港">布袋港</option>
						</select>
					</div>
					<div class="mui-input-row">
						<label>航班：</label>
						<input type="text" class="mui-input-clear" name="ahead_flight_code" placeholder="航班" value="">
					</div>
					<div class="mui-input-row">
						<label>送機人員：</label>
						<input type="text" class="mui-input-clear" name="ahead_domembers" placeholder="送機人員" value="">
					</div>
					<div class="mui-input-row">
						<label>□2.延期出境</label>
					</div>
					<div class="mui-input-row">
						<label>日期：</label>
						<input type="text" class="mui-input-clear" name="postpone_ldate" placeholder="日期" value="" readonly="readonly" onclick="JTC.setday(this,this,'yyyy-MM-dd',0,1)">
					</div>
					<div class="mui-input-row">
						<label>時間：</label>
						<input type="text" class="mui-input-clear" name="postpone_ltime" placeholder="時間，時:分" value="">
					</div>
					<div class="mui-input-row">
						<select name="postpone_airport">
							<option value="">機場/港口</option>
							<option value="桃園機場">桃園機場</option>
							<option value="高雄機場">高雄機場</option>
							<option value="基隆港">基隆港</option>
							<option value="臺中港">臺中港</option>
							<option value="高雄港">高雄港</option>
							<option value="花蓮港">花蓮港</option>
							<option value="蘇澳港">蘇澳港</option>
							<option value="澎湖港">澎湖港</option>
							<option value="台南機場">台南機場</option>
							<option value="安平港">安平港</option>
							<option value="松山機場">松山機場</option>
							<option value="桃園二期">桃園二期</option>
							<option value="金門港">金門港</option>
							<option value="馬祖">馬祖</option>
							<option value="花蓮機場">花蓮機場</option>
							<option value="麥寮港">麥寮港</option>
							<option value="馬公機場">馬公機場</option>
							<option value="台中機場">台中機場</option>
							<option value="和平港">和平港</option>
							<option value="金門機場">金門機場</option>
							<option value="南竿機場">南竿機場</option>
							<option value="北竿機場">北竿機場</option>
							<option value="嘉義機場">嘉義機場</option>
							<option value="臺北港">臺北港</option>
							<option value="東港">東港</option>
							<option value="台東機場">台東機場</option>
							<option value="北竿白沙港">北竿白沙港</option>
							<option value="布袋港">布袋港</option>
						</select>
					</div>
					<div class="mui-input-row">
						<label>航班：</label>
						<input type="text" class="mui-input-clear" name="postpone_flight_code" placeholder="航班" value="">
					</div>
					<div class="mui-input-row">
						<label>送機人員：</label>
						<input type="text" class="mui-input-clear" name="postpone_domembers" placeholder="送機人員" value="">
					</div>
					<div class="mui-input-row">
						<label>□3.旅客人數未達入境最低限額</label>
					</div>
				</div>
				<div class="pnl-reson-common">
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="detail" placeholder="案件說明" value="{{$detail}}">
					</div>
					<div class="mui-input-row">
						<input type="text" class="mui-input-clear" name="members_name" placeholder="旅客姓名名單" value="{{$members_name}}">
					</div>
				</div>
				<div class="signin_submit">
					<input type="hidden" name="id" value="{{$id}}" />
					<input type="hidden" name="agency_arn" value="{{$agency->user->arn}}" />
					<input type="hidden" name="guide_arn" value="{{$guide->user->arn}}" />
					<input type="hidden" name="mailto_union" value="{{$agency->mailto_union}}" />
					<input type="hidden" name="mailto_dt" value="{{$agency->mailto_dt}}" />
					<button class="mui-btn mui-btn-primary mui-btn-block">回報上傳</button>
				</div>
			</form>
		</div><br /><br />
		<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item mui-active" href="#" onclick="location.href='tel://119';">
		    救護車119
		  </a>
		  <a class="mui-tab-item mui-active" href="#" onclick="location.href='tel://110';">
		    報警110
		  </a>
		  <a class="mui-tab-item mui-active" href="#" onclick="location.href='{{$agency_tel}}';">
		    聯繫旅行社
		  </a>
		</nav>
	</body>
</html>
